<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OwerriJobHunt.ng  Payment Confirmation</title>
    
</head>
<body>
    <div style="width:60%;margin:20px auto; text-align: center;">
        <div style="text-align: center; font-size: 2.5rem;margin-bottom: 3px; "><span style="color:#2eca6a;">OwerriJobHunt.ng</span>
        </div>
        <div>
            <h4 style="text-align:center">A Message From OwerriJobHunt.ng</h4>
            <div>
                <h5 style="text-align:center">User Email Values</h5>
                <div>Email ------- {{ email }}</div>
                <div>Name ------- {{ name }}</div>
                <div>Subject ------- {{ subject }}</div>
                <div>{{ message }}</div>
            </div>
            <div style="margin-top:40px"> Please endeavour to reply the user if needs be </div>
        </div>
        {% comment %} <div>
            If you did not sign up on <a href="#" target="_blank" ><span style="text-align: center; font-size: 1.5rem;margin-bottom: 3px; ">Job<span style="color:#2eca6a;">Hunt.ng</span></span></a>  ,please ignore
        </div> {% endcomment %}
    </div>

</body>

</html>