<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobHunt.ng. Account Activation</title>
    
</head>
<body>
    <div style="width:60%;margin:20px auto; text-align: center;">
        <div style="text-align: center; font-size: 2.5rem;margin-bottom: 3px; ">Job<span style="color:#2eca6a;">Hunt.ng</span></div>
        Congrats, your account has been created successfully.
        Click the button below to activate.
        
        <a style="color: #ffffff;text-decoration: none;" target="_blank" href="{{ activationLink }}">
            <div style="width: 100px;
            background: #2eca6a;
            padding: 20px;
            
            margin: 10px auto;">
                
                    Activate Now
            </div>
        </a>

        <div>
            If you did not sign up on <a href="#" target="_blank" ><span style="text-align: center; font-size: 1.5rem;margin-bottom: 3px; ">Job<span style="color:#2eca6a;">Hunt.ng</span></span></a>  ,please ignore
        </div>
    </div>

</body>

</html>